body {
margin: 0;
font-family: Arial;
background: #f4f4f4;
}

header {
background: #ff4f81;
color: white;
text-align: center;
padding: 25px;
}

.products {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 20px;
}

.product {
background: white;
padding: 15px;
border-radius: 10px;
text-align: center;
}

.product img {
width: 100%;
border-radius: 10px;
}

.btn {
background: #25d366;
color: white;
padding: 10px;
display: inline-block;
margin-top: 10px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
}

.admin-bar {
text-align: center;
margin: 10px;
}

.admin-panel {
background: white;
padding: 15px;
margin: 15px;
border-radius: 10px;
}

.admin-panel input {
width: 100%;
padding: 8px;
margin: 5px 0;
}

.delete {
background: red;
color: white;
border: none;
padding: 5px;
margin-top: 5px;
border-radius: 5px;
cursor: pointer;
}
